%html
  %head
    %meta{content: "initial-scale=1", name: "viewport"}/
    %meta{charset: "utf-8"}/
    / Always force latest IE rendering engine or request Chrome Frame
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    / Use title if it's in the page YAML frontmatter
    / %link{href: "css/bootstrap.css", rel: "stylesheet"}
    %link{href: "stylesheets/all.css", rel: "stylesheet"}/
    %title Portfolio: Chris Turner
    %link{href: "/stylesheets/normalize.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "stylesheets/all.css", rel: "stylesheet", type: "text/css"}/
    %script{src: "javascripts/all.js", type: "text/javascript"}
  %body
    .welcome
      %h1#main_icon ☰
      .icon_group
        .icons
          %a{href: "https://www.facebook.com/empowerchris"}
            %img{src: "/images/facebook.png"}/
          %a{href: "https://twitter.com/EmpowerChris"}
            %img{src: "/images/twitter.png"}/
          %a{href: "http://www.linkedin.com/in/empowerchris1/"}
            %img{src: "/images/linkedin.png"}/
          %a{href: "http://www.youtube.com/santasmiraclefund"}
            %img{src: "/images/youtube.png"}/
          %a{href: "https://medium.com/@EmpowerChris"}
            %img{src: "/images/medium.png"}/
    .about_me_modal
      %h1#modal_close x
      %img#modal_image{src: "/images/Chris.jpg"}/
      %h1#modal_header ABOUT ME
      %p#modal_text I believe in bravery.  Sure I love making things, but I became a developer because I used to say it was impossible.  I sold myself excuses like, "I'm too right-brained to be an engineer", and "That's just not how my mind works".  I'm no fan of self-imposed limitations, and my work is a reflection of my lifelong quest to build a more empowered world.  As you look through my portfolio, I hope it inspires you to strive for excellence in your own life.  Hopefully you will notice an eye for design as well.
    .about_me
      %h1#about_me_icon +
    .images
      .column
        %img{src: "/images/hubblefly.png"}/
        %a#hover_text{href: "https://github.com/empowerchris/Hubblefly"} Create your own independent study courses that match your unique interests.
      .column
        %img{src: "/images/mission.png"}/
        %a#hover_text{href: "https://github.com/empowerchris/mission_fitness"} Developed marketing website for Mission Fitness.
      .column
        %img{src: "/images/goldenharvest.png"}/
        %a#hover_text{href: "http://www.goldenharvest.org"} Led project management and design strategy for Golden Harvest Food Bank website.
      .column
        %img{src: "/images/pumpkins.png"}/
        %a#hover_text{href: "http://youtu.be/e2lvTb2w8Dk"} Authored short story and led project management for John Loves Pumpkins campaign.
      .column
        %img{src: "/images/UGA.png"}/
        %a#hover_text{href: "https://www.dropbox.com/s/l8l79io84ye9tem/UGA%20Fundraising%20Plan.pdf"} Strategic fundraising plan for the UGA Social Entrepreneurship program.
      .column
        %img{src: "/images/scholarfly.png"}/
        %a#hover_text{href: "https://github.com/empowerchris/campusgenie"} Co-developed ScholarFly website at Startup Weekend Atlanta.  Winner of the Coca-Cola Innovation Award.
      .column
        %img{src: "/images/strikingly.png"}/
        %a#hover_text{href: "https://www.strikingly.com/whiteboard"} Designed pitch deck and marketing website for Frankeinstein.
      .column
        %img{src: "/images/strikingly.png"}/
        %a#hover_text{href: "https://www.strikingly.com/whiteboard"} Designed pitch deck and marketing website for Frankeinstein.

